# ==========================
# Virtual Environment
# ==========================

.venv/
venv/
env/

# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# Generated Data
# ==========================

data/raw/
data/processed/
data/forecasts/

# ==========================
# Chroma Vector Database
# ==========================

chroma_db/

# ==========================
# Test / Coverage
# ==========================

.pytest_cache/
.coverage
htmlcov/

# ==========================
# Jupyter
# ==========================

.ipynb_checkpoints/

# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db


# Generated Forecast Outputs
data/validation predictions/